h2{
    color: rgb(72, 172, 72);

    font-style: oblique;
}
#bio{
    background-color: rgb(236, 191, 236);
}
p{
    background-color: rgb(143, 167, 132);
}
*{
    background-color:rgb(211, 211, 156);
    
    text-align: center;
}
h3{
    color: rgb(54, 90, 82);
}
ol{
    color: rgb(99, 84, 26);
}
ul {
   list-style: none; 
}