h2{
    color: rgb(72, 172, 72);
}
h2{
    font-style: oblique;
}
#bio{
    background-color: rgb(236, 191, 236);
}
p{
    background-color: rgb(143, 167, 132);
}
*{
    background-color:rgb(211, 211, 156);
}
*{
    text-align: center;
}